.reservation{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  form button{
    margin-top: 15px;
    background-color: #262a39;
    color:white;
  }
  div{
    max-width: 40%;
  }
}