.top-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;

  img {
    width: 350px;
  }

  h1 {
    margin-bottom: 15px;
  }



  .details-text {
    max-width: 50%;

    p {
      margin-bottom: 50px;
    }

    a {

      background-color: #262a39;
      border-radius: 8px;
      color: white;
      padding: 10px;
      transition: .3s;
    }

    a:hover {
      background-color: ghostwhite;
      color: #262a39;
      box-shadow: 1px 3px darkgrey;
      border: solid 1px darkgray;
      text-decoration: none;
    }
  }
}

.show-block {
  background-color: #262a39;
  padding-top: 50px;

  .card-show-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  h2 {
    color: white;
    text-align: center;
  }

  .show-card {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.artist-block {
  background-color: white;
  padding-top: 50px;

  .card-artist-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  h2 {
    color: #262a39;
    text-align: center;
  }

  .artist-card {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .card-body {
    background-color: #262a39;
    color: white;
  }
}

@media screen and (max-width: 400px) {
  .top-details {

    .details-text {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}