{% extends 'layout.html.twig' %}

{% block content %}
    <div class="artist-index-card">
    {% for artist in artists %}


        <div class="card" style="width: 18rem;">
            <img src="{{ artist.picture }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>{{ artist.firstname }} {{ artist.lastname }}</h3>
                <h4>{{ artist.speciality }}</h4>
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}