{% extends 'layout.html.twig' %}

{% block content %}
    <div class="image-header">
        <h1>Clowns, monstres et créatures n'attendent que vous pour des frissons garantis </h1>
    </div>

    <div class="bloc">
        <div>
            <img src="/assets/img/cirquenuit.jpg" alt="horror-picture">
        </div>

        <div class="home-text">
            <p> « Entrez, entrez chers spectateurs… ». Dès l’accueil le ton est donné. Ce cirque déconseillé au moins de
                14 ans et aux âmes sensibles vous réserve d’étranges surprises sous son chapiteau.
                Personnages étranges et véritables numéros de cirque re-chorégraphiés pour l’occasion se mélangent pour
                une atmosphère unique et 2 heures de spectacle.

                A très vite… si le cœur vous en dit
            </p>
            <a>En savoir plus</a>
        </div>

    </div>
    <div class="bloc">
        <div>
            <img src="/assets/img/cirquenuit2.jpg" alt="horror-picture">
        </div>

        <div class="home-text">
            <p> Retrouvez dans une salle de spectacle unique en son genre les zombies, les loups garous,
                les vampires et autres créatures maléfiques dans des numéros visuels, qui ont tournés
                dans le monde entier.
            </p>
            <a>En savoir plus</a>
        </div>

    </div>
    <div class="bloc">
        <div>
            <img src="/assets/img/cirquepeur1.jpg" alt="horror-picture">
        </div>

        <div class="home-text">
            <p> Le grand cirque de la terreur s'installe dans votre ville, et vous invite pour un cocktail au sein
                duquel l'exploit le dispute à l'épouvante et au merveilleux dans une création signée d'un géant du
                cirque français.
            </p>
            <a>En savoir plus</a>
        </div>

    </div>
    <div class="bloc">
        <div>
            <img src="/assets/img/clown1.jpg" alt="horror-picture">
        </div>

        <div class="home-text">
            <p> « Entrez, entrez chers spectateurs… ». Dès l’accueil le ton est donné. Ce cirque déconseillé au moins de
                14 ans et aux âmes sensibles vous réserve d’étranges surprises sous son chapiteau.
                Personnages étranges et véritables numéros de cirque re-chorégraphiés pour l’occasion se mélangent pour
                une atmosphère unique et 2 heures de spectacle.

                A très vite… si le cœur vous en dit
            </p>
            <a>En savoir plus</a>
        </div>

    </div>





{% endblock %}