{% extends'layout.html.twig' %}

{% block content %}
<div class="infos-section">
    <div style="height: 500px;width: 500px" id="map"></div>
    <div>
      Wild Circus<br>

      9 Allée Serr, 33100 Bordeaux
    </div>
</div>

{% endblock %}