<footer class="container-fluid">


    <div class="footer-logo">
        <img src="/assets/img/wildcircuslogo.png" alt="img">
    </div>

    <div class="links">

        <div class="footer-links">
            <a href="#">A propos</a>
            <a href="#">Nous contacter</a>
            <a href="#">CGU</a>
        </div>

        <div class="footer-links">
            <a href="#">Les dates</a>
            <a href="#">Les artistes</a>
            <a href="#">Les numeros</a>
        </div>

    </div>

</footer>