<img style="width: 150px" src="https://i.ibb.co/hmGGWfb/wildcircuslogo.png">

<div>
    Prénom : {{ user.Prenom }}
</div>

<div>
    Nom : {{ user.Nom }}
</div>

<div>
    Mail : {{ user.Mail }}
</div>

<div>
    Message : {{ user.Message }}
</div>
