<div style="display: flex">
<div>

    <img style="width: 150px" src="https://i.ibb.co/hmGGWfb/wildcircuslogo.png">
</div>
    <div style="margin-left: 40px">

    <h2>Wild circus : Horror show</h2>

    <p>
        Vous avez reservé {{ data.tickets }} places pour le spectacle
        <span style="font-weight: bold">{{ tour.name }} à {{ tour.place }}</span>.
        <br>
        <br>
        Vous recevrez vos billets dans votre boite mail dans quelques minutes.
        <br>
        <br>
        Le montant de votre commande s'élève à <span style="font-weight: bold">{{ totalPrice }}€</span>.
        <br>
        <br>
        Merci et à bientôt.
        <br>
        <br>
        La compagnie Wild Circus.
    </p>
    </div>
</div>
